<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <ul>
      {% for rec in recommendations %}
      <li>
        <strong>Channel:</strong> {{ rec['name'] }}<br />
        <strong>Topic:</strong> {{ rec['topic'] }}<br />
        <strong>Similarity:</strong> {{ rec['similarity']|round(2) }}
      </li>
      {% else %}
      <li>No channels recommended.</li>
      {% endfor %}
    </ul>
  </body>
</html>
